name: CI
on:
  workflow_dispatch:
  schedule:
    - cron: '22 4 * * *'
  push:
    branches: ['main']
  pull_request:
    branches: ['main']

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f 
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'
      - name: Test
        run: make test
  build-image:
    name: Image
    permissions:
      packages: write
      security-events: write
      id-token: write
      contents: read
    needs:
      - test
    uses: curium-rocks/flows/.github/workflows/oci-build-image.yml@main
    with:
      codeql_enabled: true
      image_name: k8s-wireguard-mgr
      registry: 'ghcr.io/bryopsida'
      push_in_pr: true
